#Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*.gem
*.sublime-project
*.sublime-workspace
.bundle
vendor


node_modules/

# General MAC
.DS_Store
.AppleDouble
.LSOverride
.DS_Store?


.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.xcf