//  Colors Default MM
$primary-color: #7a8288 !default;
$success-color: #62c462 !default;
$warning-color: #f89406 !default;
$danger-color: #ee5f5b !default;
$info-color: #52adc8 !default;



// Colors ERPI
$ERPI-Blue-Dark: #005798;
$ERPI-Blue-Ligth: #005699;
$ERPI-Green-Dark: #009342;
$ERPI-Green-Ligth: #009342;


//  Colors LF2L
$Purple-LF2L: #592c8e;
$LF2L-Grey: #B2B2BA;
$LF2L-grey-ligth: #F1F1F1;
$LF2L-grey-dark: #6E6E70;


$Yellow-UL: rgb(255,238,89);


// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;





//  Color of the Links
$link-color: $Purple-LF2L !default;
// Navigation Panel
$nav-height: 1em !default;
$masthead-link-color: $white !default;
$masthead-link-color-hover: mix($black, $Yellow-UL, 1%) !default;
