// CONCEPT - Partners & Chartes

.flex-center{
  display: flex;
  justify-content: center;
}



.partners{
  text-align: center;
  width:400px; 
  display: inline-block;
  margin: 0 40px; 
  
  img {
    max-height: 300px;    
    width: auto;    
  }

  figcaption{
    font-size: 1em;
  }

}


.chartes{
  text-align: center;
  max-width: 500px; 
  display: inline-block;
  margin: 0 40px; 
  
  img {  	
    height: 80px; 
    width: auto;   
  }
  
  figcaption{
    font-size: 1em;
  }

}



.sponsors{
	img {
		max-height: 200px;    
		width: auto;    
	}
}