---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "fonts"; // Fonts for LF2L
@import "colors"; // Colors for LF2L


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "boostrap"; 


////////////////////////////////////////////////////////////////////////
//////////// PERSONALIZATION OF THE PAGES //////////////////////////////
////////////////////////////////////////////////////////////////////////




// Global

.page__content {
  h2 {
    padding-bottom: 0.5em;
    border-bottom: 2px solid $silver;
  }
}


/* Masthead */
.masthead, .greedy-nav{
  // box-shadow: 1px 1px 5px #ccc;
  // border-bottom: 1px solid #ccc;
  background: $Purple-LF2L;
  border-bottom: none;
}

.greedy-nav .visible-links a:before{
  background:  $Yellow-UL;
}


// HOME PAGE
#header{
  background-image: url(../images/1-home/header/Background-ERPI.jpg);  
}




.icons{
  text-align: center;
  width:100px; 
  display: inline-block;
  margin: 0 40px;
  
  img {
    max-width: 30px;
  }

}


.community{
  display: flex;
  justify-content: center;

}

.icons-community{     
  text-align: center;
  width:100px;    
  margin: 0 20px;
  display: inline-block;

  img {
      max-width: 100px;
    }
} 


// For Staff 
.staff {
  text-align: center;   
  margin: 0 20px;
  // display: inline-block;
  justify-content: center;


  img {
    width: 80%;
    border-radius: 50%;
   } 
}





// Projects
@import "pages/Green-Fablab"; 






  

  



























