---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "fonts"; // Fonts for LF2L
@import "colors"; // Colors for LF2L


@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
@import "elements-bootstrap"; 





////////////////////////////////////////////////////////////////////////
//////////// PERSONALIZATION OF THE PAGES //////////////////////////////
////////////////////////////////////////////////////////////////////////




// Global

.page__content {
  h2 {
    padding-bottom: 0.5em;
    // border-bottom: 2px solid $silver;      
  }
}



hr {
  display: block;
  margin: 2em 0;
  border: 0;
  border-top: 3px solid $silver; 
}

b, strong{
  font-family: $header-font-family;
  font-weight: bold;
}


/* Masthead */
.masthead, .greedy-nav{
  // box-shadow: 1px 1px 5px #ccc;
  // border-bottom: 1px solid #ccc;
  background: $Purple-LF2L;
  border-bottom: none;
}

.greedy-nav .visible-links a:before{
  background:  $Yellow-UL;
}


// HOME PAGE
#header{
  background-image: url(../images/1-home/header/Background-ERPI.jpg);  
}





.community{
  display: flex;
  justify-content: center;

}


.icons{
  text-align: center;
  width:100px; 
  display: inline-block;
  margin: 0 40px;
  
  img {
    max-width: 30px;
  }
  figcaption{
    font-size: 1em;
  }

}

.icons-community{     
  text-align: center;
  width:100px;    
  margin: 0 20px;
  display: inline-block;

  img {
      max-width: 100px;
    }
  figcaption{
    font-size: 1em;
  }  
} 


// For Staff 
.staff {
  text-align: center;   
  margin: 0 20px;
  // display: inline-block;
  justify-content: center;


  img {
    width: 80%;
    border-radius: 50%;
   } 
}


//  Color for Notice on Post on Home
.notice {

p{
  font-size: 1.2em;

}
 a{
  color: $Purple-LF2L;
  &:hover {
      color: mix(#000, $Purple-LF2L, 40%);
    }
  }
}


// Projects
@import "pages/Green-Fablab"; 






  

  



























