.navbar-logo {
    max-height: 304px;
    width: auto;
    padding-right: 4px;
}


/* Modificando el borde de los vinculos about */
div.quarto-about-trestles .about-entity .about-link {
    color: #626d78;
    text-decoration: none;
    border: solid 0px
}


 figure figcaption {
    /* border: 1px dotted blue; */
    text-align: center;
}

#title-block-header.quarto-title-block.default .quarto-title .title {
    margin-bottom: 0;
    text-align: center;
    margin-top: 7vh;
}


p.subtitle {
    margin-top: .25em;
    margin-bottom: .5em;
    text-align: center;
}


